<% myName = "Mehul"%>

<h1> <%= myName %>'s Homepage </h1>

<p>Hello, and welcome to <%= myName %>'s Homepage!</p>

<p> The following is a list of the fruit that I like to eat: </p>

<ol>
	<% {:apples => 'red', :grapes => 'green', :bananas => 'yellow'}.each do |fruit, color| %>
    	<li>I like to eat <%= color %> <%= fruit %> </li>
  	<% end %>
</ol>